.DS_Store
__pycache__
.settings
.project
.classpath
target

# Jetbrains files
/**/*.idea

# Vscode files
*.vscode
*.code-workspace
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Output files that should not be tracked
machine_learner/machine_learner/collected_data/
!machine_learner/machine_learner/collected_data/.gitkeep
GraphOutputs
*.pkl

